<header class="c-header">
  <div class="c-container">
    <div class="c-header__row">
      <div class="c-header__col">
        <a class="c-logo" href="/"><img src="/images/logo.png" class="c-logo__img" alt="{{ base.company }}"></a>
      </div>
      <div class="c-header__col c-header__col--right">{% include "__components/c-contacts.html" %}</div>
    </div>
    <ul class="c-menu">
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">О компании</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Услуги</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Проекты</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Прайс-лист</a>
      </li>
      <li class="c-menu__item">
        <a href="#" class="c-menu__link">Контакты</a>
      </li>
    </ul>
  </div>
</header>
